@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  margin: 0;
  background-color: $main-background;
  color: $font-color;
}

h1,
h2,
p {
  margin: 0;
}

.container {
  max-width: 1850px;
  width: 100%;
  margin: 0 auto;
}

.narrow-container {
  max-width: 1540px;
  width: 100%;
  margin: 0 auto;
}

.inner-container {
  width: 1150px;
  margin-left: auto;
}

header {
  background-color: white;

  .narrow-container {
    @include flex-between;
    height: 130px;
  }

  nav {
    display: flex;
    gap: 50px;
  }

  .nav-link {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: $font-color;
    text-decoration: none;
  }
}

@media (min-width: 1391px) and (max-width: 1870px) {
  .container {
    max-width: 1370px;
  }

  .narrow-container {
    max-width: 1200px;
  }
}

@media (max-width: 1390px) {
  .container {
    max-width: 1170px;
  }

  .narrow-container {
    max-width: 1050px;
  }
}

@media (min-width: 901px) {
  .mobile-only {
    display: none !important;
  }
}

@media (max-width: 900px) {
  .desktop-only {
    display: none !important;
  }

  .container,
  .narrow-container {
    max-width: unset;
    padding: 0 20px;
  }

  .inner-container {
    max-width: unset;
    width: unset;
    padding: 0;
  }

  header {
    img {
      height: 25px;
    }

    .narrow-container {
      height: 100px;
      position: relative;
      top: 8px;
    }
  }
}