@mixin flex-between($alignment: center) {
  @include flex(space-between, $alignment);
}

@mixin flex($justification: flex-start, $alignment: flex-start) {
  display: flex;
  justify-content: $justification;
  align-items: $alignment;
}