@import 'variables';
@import 'common-styles';
@import 'mixins';

* {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  margin: 0;
}

.container {
  max-width: 1850px;
  width: 100%;
  margin: 0 auto;
}

.narrow-container {
  max-width: 1540px;
  width: 100%;
  margin: 0 auto;
}

header .narrow-container {
  @include flex-between;
}